<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/home_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/' + css + '.css') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'images/weChat.png')}}">
    <title>{{ title }}</title>
</head>
<body>

    <!-- Nav Bar For Signed in People -->
    <div class="base-navbar">

        <!-- left side of navbar -->
        <div class="left">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/weChat.png') }}" alt="weChat">
            </a>
        </div>

        <!-- right side of navbar -->
        <div class="right">

            <div class="base-msg-link">
                <span>
                    <a href="">  
                        <img src="{{ url_for('static', filename= 'images/messagerie.png') }}" alt="mesagerie">
                    </a>
                </span>
            </div>

            <div class="base-signin-link" id="base">
                {% if fname %}
                <div class="profile-link">
                    <div class="profile">
                        <img src="{{ url_for('static', filename= 'images/user.png')}}" alt="User">
                        <a class="signin-link"> {{ fname }} </a>
                    </div>
                {% endif %}
                    <div class="profile-drop" id="drop">
                        <ul>
                            <li><a href="{{ url_for('logout') }}"><span></span> Profile</a></li>
                            <hr>
                            <li><a href="{{ url_for('logout') }}"><span></span> Settings</a></li>
                            <hr>
                            <li><a href="{{ url_for('logout') }}"><span></span> Log out</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename= 'scripts/home_script.js') }}"></script>
</body>
</html>