*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
**************************
    Navbar => General
**************************
*/
.base-navbar{
    flex: 0.03;
    background-color: rgb(22, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
    Navbar => Left side
*/
.base-navbar .left{
    padding-left: 20px;
}

.base-navbar .left  img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* 
    Navbar => Right side
*/
.base-navbar .right{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.base-navbar .right .base-msg-link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.base-navbar .right .base-msg-link img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.base-navbar .right .base-msg-link img:hover{
    transform: scale(1.1);
}

.base-navbar .right .base-signin-link .profile-link{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.base-navbar .right .base-signin-link .profile-link .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-top: 2px;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop{
    display: none;
    margin-left: -118px;
    position: absolute;
    background-color: #E9EFE7;
    border-radius: 20px;
    margin-top: 50px;
    height: 118px;
    width: 200px;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: inherit;
    list-style: none;
    padding: 5px 0 5px 0;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul hr{
    width: 90%;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul li{
    padding: 5px 0 5px 8px;
    transition: 0.2s ease-in-out;
    align-self: flex-start;
    width: 90%;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul li:hover{
    margin-left: 30px;
    width: 80%;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul li a{
    color: black;
}

.base-navbar .right .base-signin-link .profile-link .profile-drop ul li a:visited{
    color: black;
}

.base-navbar .right .base-signin-link img {
    color: white;
    height: 25px;
    width: 25px;
}

.base-navbar .right .base-signin-link a{
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.base-navbar .right .base-signin-link a:visited{
    color: white;
    text-decoration: none;
}

.base-navbar .right .base-signin-link a:hover{
    color: #62AAFB;   
}


